@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #30475e;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: #f05454;
  border-radius: 5px;
  border: none;
  color: #e8e8e8;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:active {
  transform: scale(0.8);
  transform: translateY(4px);
  box-shadow: 0 0 10px #e8e8e8;
}

.btn:focus {
  outline: none;
}
